.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 734px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 60px 30px 60px 35px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    font-style: italic;
    line-height: 2;
    margin: 247px 64px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: center;
    background-image: none;
    margin: 30px auto 0 0;
    padding: 20px 45px 20px 44px;
  }
  
  .u-section-1 .u-image-1 {
    background-image: url("images/shena.jpg");
    background-position: 50% 50%;
    min-height: 734px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 209px;
    width: 582px;
    background-image: none;
    height: auto;
    margin: 0 auto 0 -196px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-text-2 {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "PT Sans", sans-serif;
    margin: 0 30px;
  }
  
  .u-section-1 .u-text-3 {
    text-align: left;
    font-weight: 700;
    font-size: 6rem;
    text-transform: none;
    letter-spacing: normal;
    font-family: Roboto, sans-serif;
    margin: 19px -4px 0 64px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 476px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 940px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 605px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-1 {
      border-style: none;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 697px;
    }
  
    .u-section-1 .u-group-1 {
      width: 499px;
      margin-left: -357px;
      height: auto;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 4.75rem;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 669px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.125rem;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 669px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 192px;
      width: 404px;
      margin-top: 11px;
      margin-left: -270px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 30px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 4.0625rem;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1225px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-top: 130px;
      margin-bottom: 54px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      order: 1;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 0;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 724px;
      order: 0;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 180px;
      margin-top: -77px;
      margin-left: 39px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-top: 35px;
    }
  
    .u-section-1 .u-text-3 {
      width: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1018px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-top: 140px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
    }
  
    .u-section-1 .u-btn-1 {
      margin-left: auto;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 456px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 154px;
      width: 310px;
      margin-top: -90px;
      margin-left: 12px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 3.4375rem;
      margin-left: 0;
      margin-right: 0;
    }
  } .u-section-2 {
    background-image: url("images/rtrt.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 972px;
  }
  
  .u-section-2 .u-shape-1 {
    width: 858px;
    height: 735px;
    margin: 137px 0 0 auto;
  }
  
  .u-section-2 .u-image-1 {
    width: 784px;
    height: 633px;
    margin: -852px 0 0 auto;
  }
  
  .u-section-2 .u-group-1 {
    width: 629px;
    min-height: 510px;
    margin: -282px auto 60px 0;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-1 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
    font-size: 3.75rem;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-text-3 {
    line-height: 2;
    margin: 30px 0 0;
  }
  
  .u-section-2 .u-text-4 {
    letter-spacing: 1px;
    margin: 30px 0 0;
  }
  
  .u-section-2 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  .u-section-2 .u-btn-2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: center;
    background-image: none;
    margin: 30px auto 0 0;
    padding: 20px 45px 20px 44px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-btn-2 {
      border-style: none;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 942px;
    }
  
    .u-section-2 .u-shape-1 {
      width: 720px;
    }
  
    .u-section-2 .u-image-1 {
      width: 660px;
      height: 502px;
    }
  
    .u-section-2 .u-group-1 {
      margin-top: -151px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 995px;
    }
  
    .u-section-2 .u-shape-1 {
      height: 445px;
      width: 502px;
      margin-top: 42px;
    }
  
    .u-section-2 .u-image-1 {
      width: 510px;
      height: 388px;
      margin-top: -553px;
    }
  
    .u-section-2 .u-group-1 {
      width: 436px;
      min-height: 532px;
      margin-top: -37px;
      margin-bottom: -66px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 910px;
    }
  
    .u-section-2 .u-shape-1 {
      height: 295px;
      margin-top: 67px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-image-1 {
      height: 292px;
      margin-top: -364px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-group-1 {
      min-height: 544px;
      margin-top: -38px;
      margin-bottom: 50px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-2 .u-text-2 {
      font-size: 1.875rem;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 999px;
  }
  
  .u-section-3 .u-text-1 {
    width: 841px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 3.75rem;
    margin: 60px auto 0;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 0;
    margin-left: auto;
  }
  
  .u-section-3 .u-image-1 {
    min-height: 603px;
    background-image: url("images/bn-min.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 603px;
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px 0;
  }
  
  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 526px;
    grid-gap: 0px;
  }
  
  .u-section-3 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 30px 25px 30px 30px;
  }
  
  .u-section-3 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 0 auto 0 0;
  }
  
  .u-section-3 .u-text-2 {
    letter-spacing: 3px;
    line-height: 24px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    margin: 20px auto 0 0;
  }
  
  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin: 20px 2px 0 0;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 30px 25px 30px 30px;
  }
  
  .u-section-3 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin: 0 auto 0 0;
  }
  
  .u-section-3 .u-text-4 {
    letter-spacing: 3px;
    line-height: 24px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 20px auto 0 0;
  }
  
  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
    margin: 20px 2px 0 0;
  }
  
  .u-section-3 .u-container-layout-5 {
    padding: 30px 25px 30px 30px;
  }
  
  .u-section-3 .u-icon-3 {
    height: 64px;
    width: 64px;
    margin: 0 auto 0 0;
  }
  
  .u-section-3 .u-text-6 {
    letter-spacing: 3px;
    line-height: 24px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 20px auto 0 0;
  }
  
  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
    margin: 20px 2px 0 0;
  }
  
  .u-section-3 .u-container-layout-6 {
    padding: 30px 25px 30px 30px;
  }
  
  .u-section-3 .u-icon-4 {
    height: 64px;
    width: 64px;
    margin: 0 auto 0 0;
  }
  
  .u-section-3 .u-text-8 {
    letter-spacing: 3px;
    line-height: 24px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 20px auto 0 0;
  }
  
  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
    margin: 20px 2px 0 0;
  }
  
  .u-section-3 .u-text-10 {
    width: 412px;
    letter-spacing: 1px;
    margin: 30px auto 60px;
  }
  
  .u-section-3 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 893px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-left: initial;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 497px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 497px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    .u-section-3 .u-repeater-1 {
      min-height: 434px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-bottom: 20px;
    }
  
    .u-section-3 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-bottom: 20px;
    }
  
    .u-section-3 .u-text-5 {
      margin-right: 0;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-bottom: 20px;
    }
  
    .u-section-3 .u-text-7 {
      margin-right: 0;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-bottom: 20px;
    }
  
    .u-section-3 .u-text-9 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 777px;
    }
  
    .u-section-3 .u-text-1 {
      width: 720px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 381px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-top: 20px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-top: 20px;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-top: 20px;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-top: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1449px;
    }
  
    .u-section-3 .u-text-1 {
      width: auto;
      font-size: 3rem;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 40px;
      margin-left: initial;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 572px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1237px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 360px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-text-10 {
      width: 340px;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 1492px;
  }
  
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    margin: 77px auto 0;
  }
  
  .u-section-4 .u-text-2 {
    width: 718px;
    font-style: italic;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-btn-1 {
    background-image: none;
    border-style: none none solid;
    font-weight: 400;
    padding: 0;
  }
  
  .u-section-4 .u-list-1 {
    width: 822px;
    grid-template-rows: auto auto auto;
    margin: 44px auto 0;
  }
  
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1194px;
    grid-gap: 10px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-4 .u-image-1 {
    width: 308px;
    height: 308px;
    background-image: url("images/nuri.jpg");
    background-position: 50% 50%;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-group-1 {
    width: 464px;
    min-height: 331px;
    margin: -308px 0 0 auto;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 0 0 0 30px;
  }
  
  .u-section-4 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-line-1 {
    height: 3px;
    transform-origin: left center;
    margin: 16px auto 0 0;
  }
  
  .u-section-4 .u-text-5 {
    font-style: italic;
    margin: 20px 0 0 auto;
  }
  
  .u-section-4 .u-btn-2 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0 0;
    padding: 0;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-4 .u-image-2 {
    width: 308px;
    height: 308px;
    background-image: url("images/sh.jpg");
    background-position: 50% 50%;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-group-2 {
    width: 464px;
    min-height: 331px;
    background-size: auto;
    margin: -308px 0 0 auto;
  }
  
  .u-section-4 .u-container-layout-4 {
    padding: 0 0 0 30px;
  }
  
  .u-section-4 .u-text-6 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-line-2 {
    height: 3px;
    transform-origin: right center;
    margin: 16px auto 0 0;
  }
  
  .u-section-4 .u-text-7 {
    font-style: italic;
    margin: 20px 0 0 auto;
  }
  
  .u-section-4 .u-btn-3 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0 0;
    padding: 0;
  }
  
  .u-section-4 .u-container-layout-5 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-4 .u-image-3 {
    width: 308px;
    height: 308px;
    background-image: url("images/pers.jpg");
    background-position: 50% 50%;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-group-3 {
    width: 464px;
    min-height: 331px;
    background-size: auto;
    margin: -308px 0 0 auto;
  }
  
  .u-section-4 .u-container-layout-6 {
    padding: 0 0 0 30px;
  }
  
  .u-section-4 .u-text-8 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-line-3 {
    height: 3px;
    transform-origin: right center;
    margin: 16px auto 0 0;
  }
  
  .u-section-4 .u-text-9 {
    font-style: italic;
    margin: 20px 0 0 auto;
  }
  
  .u-section-4 .u-btn-4 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0 0;
    padding: 0;
  }
  
  
  .u-section-4 .u-image-4 {
    width: 308px;
    height: 308px;
    background-image: url("images/ans.jpg");
    background-position: 50% 50%;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-group-4 {
    width: 464px;
    min-height: 331px;
    margin: -308px 0 0 auto;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 0 0 0 30px;
  }
  
  .u-section-4 .u-text-10 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 auto 0 0;
  }
  
  .u-section-4 .u-line-1 {
    height: 3px;
    transform-origin: left center;
    margin: 16px auto 0 0;
  }
  
  .u-section-4 .u-text-11 {
    font-style: italic;
    margin: 20px 0 0 auto;
  }
  
  .u-section-4 .u-btn-2 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0 0;
    padding: 0;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 30px 0 30px 30px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-list-1 {
      height: auto;
    }
  
    .u-section-4 .u-line-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-line-2 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-4 .u-line-3 {
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-list-1 {
      width: 720px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 0;
    }
  
    .u-section-4 .u-group-1 {
      width: 396px;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-left: 0;
    }
  
    .u-section-4 .u-group-2 {
      width: 396px;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-left: 0;
    }
  
    .u-section-4 .u-group-3 {
      width: 396px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 2374px;
    }
  
    .u-section-4 .u-text-2 {
      width: 540px;
    }
  
    .u-section-4 .u-list-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-4 .u-image-1 {
      width: 325px;
      height: 325px;
    }
  
    .u-section-4 .u-group-1 {
      min-height: 258px;
      width: 541px;
      margin-top: 30px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 0;
    }
  
    .u-section-4 .u-image-2 {
      width: 325px;
      height: 325px;
    }
  
    .u-section-4 .u-group-2 {
      min-height: 258px;
      width: 541px;
      margin-top: 30px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-left: 0;
    }
  
    .u-section-4 .u-image-3 {
      width: 325px;
      height: 325px;
    }
  
    .u-section-4 .u-group-3 {
      min-height: 258px;
      width: 541px;
      margin-top: 30px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-text-1 {
      font-size: 2.25rem;
      margin-left: 0;
    }
  
    .u-section-4 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
      width: 340px;
    }
  
    .u-section-4 .u-text-3 {
      margin-left: 0;
    }
  
    .u-section-4 .u-image-1 {
      margin-left: auto;
    }
  
    .u-section-4 .u-group-1 {
      width: 340px;
      margin-right: 0;
    }
  
    .u-section-4 .u-image-2 {
      margin-left: auto;
    }
  
    .u-section-4 .u-group-2 {
      width: 340px;
      margin-right: 0;
    }
  
    .u-section-4 .u-image-3 {
      margin-left: auto;
    }
  
    .u-section-4 .u-group-3 {
      width: 340px;
      margin-right: 0;
    }
  } .u-section-5 {
    background-image: none;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 1194px;
  }
  
  .u-section-5 .u-list-1 {
    width: 822px;
    grid-template-rows: auto auto auto;
    margin: 0 auto;
  }
  
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1194px;
    grid-gap: 10px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-5 .u-image-1 {
    width: 308px;
    height: 308px;
    background-image: url("images/ans.jpg");
    background-position: 50% 50%;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-group-1 {
    width: 464px;
    min-height: 331px;
    margin: -308px 0 0 auto;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 0 0 0 30px;
  }
  
  .u-section-5 .u-text-1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-line-1 {
    height: 3px;
    transform-origin: left center;
    margin: 16px auto 0 0;
  }
  
  .u-section-5 .u-text-2 {
    font-style: italic;
    margin: 20px 0 0 auto;
  }
  
  .u-section-5 .u-btn-1 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0 0;
    padding: 0;
  }
  
  .u-section-5 .u-container-layout-3 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-5 .u-image-2 {
    width: 308px;
    height: 308px;
    background-image: url("images/sh.jpg");
    background-position: 50% 50%;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-group-2 {
    width: 464px;
    min-height: 331px;
    background-size: auto;
    margin: -308px 0 0 auto;
  }
  
  .u-section-5 .u-container-layout-4 {
    padding: 0 0 0 30px;
  }
  
  .u-section-5 .u-text-3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-line-2 {
    height: 3px;
    transform-origin: right center;
    margin: 16px auto 0 0;
  }
  
  .u-section-5 .u-text-4 {
    font-style: italic;
    margin: 20px 0 0 auto;
  }
  
  .u-section-5 .u-btn-2 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0 0;
    padding: 0;
  }
  
  .u-section-5 .u-container-layout-5 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-5 .u-image-3 {
    width: 308px;
    height: 308px;
    background-image: url("images/pers.jpg");
    background-position: 50% 50%;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-group-3 {
    width: 464px;
    min-height: 331px;
    background-size: auto;
    margin: -308px 0 0 auto;
  }
  
  .u-section-5 .u-container-layout-6 {
    padding: 0 0 0 30px;
  }
  
  .u-section-5 .u-text-5 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-line-3 {
    height: 3px;
    transform-origin: right center;
    margin: 16px auto 0 0;
  }
  
  .u-section-5 .u-text-6 {
    font-style: italic;
    margin: 20px 0 0 auto;
  }
  
  .u-section-5 .u-btn-3 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0 0;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-list-1 {
      height: auto;
    }
  
    .u-section-5 .u-line-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-line-2 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-5 .u-line-3 {
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-list-1 {
      width: 720px;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 0;
    }
  
    .u-section-5 .u-group-1 {
      width: 396px;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-left: 0;
    }
  
    .u-section-5 .u-group-2 {
      width: 396px;
    }
  
    .u-section-5 .u-container-layout-5 {
      padding-left: 0;
    }
  
    .u-section-5 .u-group-3 {
      width: 396px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
      min-height: 2374px;
    }
  
    .u-section-5 .u-list-1 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-5 .u-image-1 {
      width: 325px;
      height: 325px;
    }
  
    .u-section-5 .u-group-1 {
      min-height: 258px;
      width: 541px;
      margin-top: 30px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 0;
    }
  
    .u-section-5 .u-image-2 {
      width: 325px;
      height: 325px;
    }
  
    .u-section-5 .u-group-2 {
      min-height: 258px;
      width: 541px;
      margin-top: 30px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-left: 0;
    }
  
    .u-section-5 .u-image-3 {
      width: 325px;
      height: 325px;
    }
  
    .u-section-5 .u-group-3 {
      min-height: 258px;
      width: 541px;
      margin-top: 30px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-5 .u-container-layout-6 {
      padding-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-image-1 {
      margin-left: auto;
    }
  
    .u-section-5 .u-group-1 {
      width: 340px;
      margin-right: 0;
    }
  
    .u-section-5 .u-image-2 {
      margin-left: auto;
    }
  
    .u-section-5 .u-group-2 {
      width: 340px;
      margin-right: 0;
    }
  
    .u-section-5 .u-image-3 {
      margin-left: auto;
    }
  
    .u-section-5 .u-group-3 {
      width: 340px;
      margin-right: 0;
    }
  } .u-section-6 {
    background-image: url("images/df-min.jpg");
    min-height: 764px;
    background-position: 50% 50%;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 361px;
  }
  
  @media (max-width: 1199px) {
     .u-section-6 {
      min-height: 630px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-6 {
      min-height: 483px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-6 {
      min-height: 362px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-6 {
      min-height: 377px;
    }
  } .u-section-7 {
    background-image: none;
  }
  
  .u-section-7 .u-sheet-1 {
    min-height: 969px;
  }
  
  .u-section-7 .u-group-1 {
    width: 985px;
    min-height: 461px;
    height: auto;
    margin: 183px 0 0 auto;
  }
  
  .u-section-7 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-7 .u-text-1 {
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin: 47px 16px 0 0;
  }
  
  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
    margin: 16px 0 0;
  }
  
  .u-section-7 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  .u-section-7 .u-btn-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    align-self: center;
    background-image: none;
    border-style: none;
    margin: 40px auto 0 0;
    padding: 20px 46px 20px 44px;
  }
  
  .u-section-7 .u-image-1 {
    width: 167px;
    height: 461px;
    margin: -461px auto 60px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 965px;
    }
  
    .u-section-7 .u-group-1 {
      width: 449px;
      margin-top: 268px;
      height: auto;
    }
  
    .u-section-7 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-7 .u-image-1 {
      width: 429px;
      height: 429px;
      margin-top: -589px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1283px;
    }
  
    .u-section-7 .u-group-1 {
      width: 556px;
      min-height: 528px;
      margin-top: 685px;
      margin-right: auto;
      margin-left: 0;
    }
  
    .u-section-7 .u-image-1 {
      margin-top: -1020px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1374px;
    }
  
    .u-section-7 .u-group-1 {
      min-height: 521px;
      width: 458px;
      margin-top: 783px;
    }
  
    .u-section-7 .u-image-1 {
      margin-top: -1111px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
      min-height: 1255px;
    }
  
    .u-section-7 .u-group-1 {
      min-height: 477px;
      margin-top: 830px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-7 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-7 .u-image-1 {
      width: 285px;
      height: 309px;
      margin-top: -992px;
    }
  } .u-section-8 {
    background-image: url("images/ghg.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-8 .u-sheet-1 {
    min-height: 800px;
  }
  
  .u-section-8 .u-text-1 {
    font-weight: 700;
    letter-spacing: normal;
    text-transform: none;
    margin: 60px auto 0;
  }
  
  .u-section-8 .u-text-2 {
    width: 839px;
    line-height: 40px;
    margin: 20px auto 0;
  }
  
  .u-section-8 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  
  .u-section-8 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    margin-top: 38px;
    margin-bottom: 0;
  }
  
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(5, 20%);
    min-height: 156px;
    grid-gap: 0px;
  }
  
  .u-section-8 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-8 .u-container-layout-1 {
    padding: 30px 40px;
  }
  
  .u-section-8 .u-image-1 {
    height: 90px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  
  .u-section-8 .u-list-item-2 {
    background-image: none;
  }
  
  .u-section-8 .u-container-layout-2 {
    padding: 30px 40px;
  }
  
  .u-section-8 .u-image-2 {
    height: 90px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  
  .u-section-8 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-8 .u-container-layout-3 {
    padding: 30px 40px;
  }
  
  .u-section-8 .u-image-3 {
    height: 90px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  
  .u-section-8 .u-list-item-4 {
    background-image: none;
  }
  
  .u-section-8 .u-container-layout-4 {
    padding: 30px 40px;
  }
  
  .u-section-8 .u-image-4 {
    height: 90px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  
  .u-section-8 .u-list-item-5 {
    background-image: none;
  }
  
  .u-section-8 .u-container-layout-5 {
    padding: 30px 40px;
  }
  
  .u-section-8 .u-image-5 {
    height: 90px;
    margin-top: 3px;
    margin-bottom: 0;
  }
  
  .u-section-8 .u-text-3 {
    letter-spacing: 1px;
    margin: 38px auto 60px;
  }
  
  .u-section-8 .u-btn-2 {
    border-style: none none solid;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-8 .u-sheet-1 {
      min-height: 660px;
    }
  
    .u-section-8 .u-repeater-1 {
      min-height: 129px;
    }
  
    .u-section-8 .u-image-1 {
      height: 66px;
    }
  
    .u-section-8 .u-image-2 {
      height: 66px;
    }
  
    .u-section-8 .u-image-3 {
      height: 66px;
    }
  
    .u-section-8 .u-image-4 {
      height: 66px;
    }
  
    .u-section-8 .u-image-5 {
      height: 66px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-8 .u-sheet-1 {
      min-height: 506px;
    }
  
    .u-section-8 .u-text-1 {
      width: auto;
      margin-left: 64px;
      margin-right: 64px;
    }
  
    .u-section-8 .u-text-2 {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-8 .u-repeater-1 {
      grid-template-columns: repeat(3, 33.3333%);
      min-height: 329px;
    }
  
    .u-section-8 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-8 .u-image-1 {
      height: 81px;
      margin-top: 0;
    }
  
    .u-section-8 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-8 .u-image-2 {
      height: 81px;
      margin-top: 0;
    }
  
    .u-section-8 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-8 .u-image-3 {
      height: 81px;
      margin-top: 0;
    }
  
    .u-section-8 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-8 .u-image-4 {
      height: 81px;
      margin-top: 0;
    }
  
    .u-section-8 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-8 .u-image-5 {
      height: 81px;
      margin-top: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-8 .u-sheet-1 {
      min-height: 1046px;
    }
  
    .u-section-8 .u-text-1 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-8 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
      min-height: 455px;
    }
  
    .u-section-8 .u-image-1 {
      height: 96px;
    }
  
    .u-section-8 .u-image-2 {
      height: 96px;
    }
  
    .u-section-8 .u-image-3 {
      height: 96px;
    }
  
    .u-section-8 .u-image-4 {
      height: 96px;
    }
  
    .u-section-8 .u-image-5 {
      height: 96px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-8 .u-sheet-1 {
      min-height: 896px;
    }
  
    .u-section-8 .u-repeater-1 {
      min-height: 325px;
    }
  
    .u-section-8 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-8 .u-image-1 {
      height: 48px;
    }
  
    .u-section-8 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-8 .u-image-2 {
      height: 48px;
    }
  
    .u-section-8 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-8 .u-image-3 {
      height: 48px;
    }
  
    .u-section-8 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-8 .u-image-4 {
      height: 48px;
    }
  
    .u-section-8 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
  
    .u-section-8 .u-image-5 {
      height: 48px;
    }
  }